
:root{

    --font-height-nav:14px;
    --white-0:#EFEFEF;
    --box-shadow: 0px 1px 14px black ;
    --background:#0d1117;
    --color-header: #161b22;
    --color-border-default: #30363d;
    --color-text: rgba(240, 246, 252, 40%);
    --color-text-title:rgba(240, 246, 252, 70%);
    --color-header-text: #f0f6fc;
    --color-border-subtle: rgba(240, 246, 252, 0.1);
    --color-p:#08BDBA;
    --text-shadow:0px 1px 40px  rgba(8, 189, 186,.7);
    --box-shadow:0px 1px 20px  rgba(8, 189, 186,.3);;
    --blue-violet-line : rgba(138, 44, 206, 15%)
}


#goog-gt-tt {display:none !important;}
.goog-te-banner-frame {display:none !important;}
.goog-te-menu-value:hover {text-decoration:none !important;}
#google_translate_element2 {display:none!important;}


*{

    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

::-webkit-scrollbar{

    width: 5px;
    background-color: var(--color-border-subtle);
}

::-webkit-scrollbar-thumb{

    background-color: var(--color-p);
    border-radius: 5px;
}


body{

    top: 0 !important;
    background-color: var(--background);
    color: var(--color-text);
}


#body.active{

    --background:#EFEFEF;
    --color-border-subtle: rgba(30,30,30,0.3);
    --color-text:rgba(48, 48, 48,50%);
    --color-text-title:rgba(48, 48, 48,70%);
     transition: all 0.5s ease-out;
}

/*__________NAV-BAR________*/


nav{

    height: 70px;
    width: 100%;
    z-index: 999;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    color: var(--color-header-text);
    background-color: var(--color-header);
    border-bottom: 1px solid var(--color-border-subtle);
    
}

#body.active nav{

    background-color: var(--color-border-default);
    
}


select{

    text-align: center !important;
    font-size: 14px !important;
    background: none;
    color: var(--color-p);
    width: 120px;
    height: 40px;
    border: none;
    border: 1px solid var(--color-border-subtle);
    border-radius: 5px;
    margin-right: 5px;
    font-weight: 800 !important;
}

.nav-links{

    display: flex;
    
}


#body.active nav a{

    color: var(--color-header-text);
}

nav a{

   font-size: var(--font-height-nav); 
   height: 60px;
  
   min-width: 120px;
   font-weight: 600;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   text-decoration: none;
   color: var( --color-header-text);
   
}

#body.active nav a:hover,
nav a:hover{

    color: var(--color-p);
}


.menu-mobile{

    margin-right: 40px;
    font-size: 30px;
    display: none;
    cursor: pointer;
    color: var(--color-text);
}

#close{
    display: none;
}



#body.active .scrollinng-active,
.scrollinng-active{

    background-color: var(--background);
    transition: 0.5s ease;
}


#body.active .scrollinng-active a{
 
    color: var(--color-header);
}



/*-----Section 1------*/
section{

    min-height: 100vh;
    width: 100%; 
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.container{

    height: 410px;
    width: 100%; 
    display: flex;
    
    align-items: center; 
    flex-direction: column;
    
}


.height{

    height:30vh;
}

.font{

    font-size: 14px;
    
}


.conteudo{

    display: none;
}
#ver-mais{

    border: none;
    background: none;
    border: 1px solid var(--color-p);
    background-color: var(--color-p);
    border-radius: 5px;
    width: 190px;
    height: 40px;
    cursor: pointer;
    font-size: 15px;
    color: var(--white-0);
    font-weight: 600;
   
}


#ver-mais:hover{

    box-shadow: var(--box-shadow) ;
}

.title{

    height: 20%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: var(--color-text-title);
    
}
.title::after{

    content: '';
    position: absolute;
    height: 3px;
    width: 50%;
    border-radius: 5px;
    background-color: var(--color-p);
    margin-top: 80px;
}

.content #img{
    height: 100%;
    width:100%;
    z-index: 3;
    position: relative;
    cursor: pointer;
}
.projeto:hover{

   transform: scale(1.1);
   z-index: 5;
   transition: 1s;
   box-shadow: var(--box-shadow);
}
.content{

    height: 80%;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}


#bgk{

    height: 100%;
    width: 100%;
    background:linear-gradient(#08bdba3d,rgba(255, 255, 255, 0.027));
    color: white;
    border-radius: 5px;
    position: absolute;
    transform: translatey(600px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 4;
    cursor: pointer;
    
}

#bgk.active{

    transform: translatey(0);
    transition: 1s;
    

}



#links i {

    font-size: 40px;
    position: relative;
}

.projeto{

    width: 45%;
    height: 80%;
    border:1px solid var(--color-p);
    border-radius: 5px;
    margin: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
}

.content i{

    cursor: pointer;
    font-size: 70px;
    margin: 5px; 
    
}

.content i:hover,
.content i:focus{
    transition: all 0.8s;
    color: var(--color-p);
    text-shadow: var( --text-shadow) ;
}


.content a{

    height: 120.531px;
    width: 120.531px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.content a img{

    height: 100%;
    
}

.content a img:hover{

    height: 110%;
    
}

.front{ /*cria uma margem na classe*/

    margin-bottom: 60px;
}


.collum{ /*classe auxiliadora*/

    flex-direction: column;
}

.align{

    align-items: baseline;
    
}




/*---DARK-mode---*/

#body.active .light {
    
    display: none;
    
}
#body.active .night{

    display: flex;
}
.night {

    display: none;
}
.light {

    display: flex;
    
}
.tema {

    color: white;
    font-size: 25px;
    position: fixed;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 4%;
    display: flex;
    align-items: center;
    left: 0;
    
    cursor: pointer;  
    background-color: var(--color-p);
    z-index: 4;
}

.tema a {

    color: white;
    margin-top: 40px;
}

/*------Barra lateral----*/

.side-bar{

    font-size: 25px;
    position: fixed;
    justify-content: end;
    height: 100vh;
    left: 0 !important;
    display: flex;
    align-items: center;
    cursor: pointer;  
    z-index: 6;
    
    
}

#arrow{
    
    display: none;
    width: 40px;
    transition: none;
    color: var(--color-text);
}

/*-------formulario de contato----*/
form{

    display: flex;
    flex-direction: column;
    height: 100%;
    width: 30%; 
    border-radius: 5px; 
}

input{

    height: 30px;
    margin-bottom:10px;
    border: none;
    border: 1px solid var(--color-border-subtle);
    border-radius: 5px;
    padding: 10px;
    color: var(--color-header);
}  

textarea{
    border: none;
    border: 1px solid var(--color-border-subtle);
    border-radius: 5px;
    height: 100px;
    margin-bottom:40px;
    padding: 10px;
    resize: none;
}
input:focus,
input:hover,
textarea:focus,
textarea:hover{

    border-color: var(--color-p);
    outline: none;
    box-shadow:var(--box-shadow); 
    
}

form button{

    height: 40px;
    border: none;
    background-color: var(--color-p);
    border-radius: 5px;
    color: var(--white-0);
    font-size: 15px;
    cursor: pointer;
    font-weight: 600;
}
label {

    margin-bottom: 8px;
    color: var(--color-text);
}

form button:hover,
form button:focus{

    
    box-shadow: var(--box-shadow);
}



/*-----rodape-------*/




footer{

    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;

}

.box-footer{
    z-index: 10;
    position: relative;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-top: 1px solid  var(--color-border-subtle);
    background-color: var(--background);
}
.text-footer{

    display: block;
    text-align: center;
}

.versao{

    font-size: 13px;
}
/*-------------Responsividade----------*/

@media (max-width:950px) {
    
    
    /*conteudo do conteiner*/
    .title::after{

        width: 80%;
     }
     .content i{

        font-size: 40px;    
    }

    /*Nav-bar*/
    nav {

        border: transparent;
    }

    .nav-links{

        display: none;   
       
    }

    .nav-links a{

        border-bottom: 1px solid transparent;    
        height: 70px;
        margin-left: 20px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
       
        
    }

    .nav-links a:hover{
    
        color: var(--color-p);
        border-color: var(--color-border-subtle);
       
    }

   
    .nav-links a:focus{

        border-color: rgba(138, 44, 206, 15%);
    }

    .nav-links.active{

        width: 100%;
        height: 600px;
        top: 0;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--color-header);
        animation: top 0.5s linear;
    
    }

    #nav.active .nav-links::before{

        content: '';  
        width: 100%;
        height: 150%;
        z-index: -1; 
        position: fixed;
        backdrop-filter: blur(100px);
            
    }


    .menu-mobile{

        display: flex;
        z-index: 999;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 50px;
        text-align: center;
        border-radius: 50%;
       
    }

    #nav.active .menu-mobile:hover{

        transition: all 0.5s ease-in-out;
        background-color: var(--blue-violet);
    }

    #nav.active #close{

       display: flex;
    }
    #nav.active #open {

        display: none;
     }

    #nav.active .epc{
        
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        display: flex;
        background-color: var(--color-border-subtle);
        z-index: 999;
        margin-top: 78px;   
    }

    

    #body.active #nav.active .nav-links{

        background-color: var(--background);
        
    }
    #body.active #nav.active .nav-links a{
    
        
        color: var(--color-header-text);
    }
    
    #body.active #nav.active .nav-links a:hover{
    
        color: var(--blue-violet);
    }
    

   /*dark-mod e barra lateral*/

  
    .tema{
        
    
        width: 10%;
        left: -20%;
         
     }

     .side-bar{

        display: flex;
     }


   
    .side-bar.active {

        margin-left: 100px;
        transition: all 1s ease-out;
        
    }
    #arrow{

        display: flex;
        width: 4%;

    }
    .side-bar.active #arrow{

        
        transform: rotate(-180deg);
        transition: all 1.1s ease-in;
        
    }

    .box-footer.active {

      position: fixed;
      bottom: 0;
      background-color: var(--background);
      height: 80px;
        
    }
    
    .box-footer.active .text-footer{

        z-index: 10;
       
    }

    .side-bar.active .tema{

        
        left: 0;
        transition: all 1s ease-out;
    }

    .content{

        flex-direction: column;

    }

    .projeto{

        width: 70%;
        top: 70px;
    }

    .align{

        margin-top: 50px;
        align-items: center;
        
    }
    


    /*formulario*/
    form{
        width: 60%;
    }
   
}




@media (max-width:700px){

    .tema{

        width: 15%;
    }

    .projeto{

        width: 80%;
        
    }
    
}

@media (max-width:500px){

    .tema{

        width: 20%;
    }
    
    form{
        width: 70%;
    }
    .projeto{

        width: 90%;
        
    }
}