
:root{
    --font-height-nav:14px;
    --white-0:#EFEFEF;
    --box-shadow: 0px 1px 14px black ;
    --background:#0d1117;
    --color-header: #161b22;
    --color-border-default: #30363d;
    --color-text: rgba(255,255,255,0.7);
    --color-header-text: #f0f6fc;
    --color-border-subtle: rgba(240,246,252,0.1);
    --blue-violet:#ff5500;
    --blue-violet-line : rgba(138, 44, 206, 15%)
}


select{

   text-align: center !important;
    font-size: 14px !important;
    background: none;
    color: var(--blue-violet);
    width: 120px;
    height: 40px;
    border: none;
    border: 1px solid var(--color-border-subtle);
    border-radius: 5px;
    margin-right: 5px;
    font-weight: 800 !important;
}

#goog-gt-tt {display:none !important;}
.goog-te-banner-frame {display:none !important;}
.goog-te-menu-value:hover {text-decoration:none !important;}
body {top:0 !important;}
#google_translate_element2 {display:none!important;}




#body.active{

    --background:#EFEFEF;
    --color-border-subtle: rgba(30,30,30,0.3);
    --color-header-text: #30363d;
    --color-text:#161b22;
    transition: all 0.5s ease-out;
}

#body.active .box-footer .links-footer a{

    color: #707070;
        
}

#body.active nav a{

    color: #EFEFEF;
}

#body.active nav{

    background-color: var(--color-border-default);
    
}

#body.active .scrollinng-active a{
 
    color: #0d1117;
}

#body.active nav a:hover{
 
    color: var(--blue-violet);
}

#body.active .box-footer .links-footer a:hover{

    color: var(--blue-violet);
   
}

#body.active .scrollinng-active {

    
    background-color: var(--background);
    
}

#body.active #nav.active .nav-links{

    background-color: var(--background);
    
}
#body.active #nav.active .nav-links a{

    
    color: var(--color-header-text);
}

#body.active #nav.active .nav-links a:hover{

    color: var(--blue-violet);
}



*{

    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

::-webkit-scrollbar{

    width: 5px;
    background-color: var(--color-border-subtle);
}

::-webkit-scrollbar-thumb{

    background-color: var(--blue-violet);
    border-radius: 5px;
}


body{

    background-color: var(--background);
    color: var(--color-border-subtle);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}


/*__________NAV-BAR________*/


nav{

    height: 70px;
    width: 100%;
    z-index: 999;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    color: var(--white-0);
    background-color: var(--color-header);
    border-bottom: 1px solid var(--color-border-subtle);
    
}

.nav-links{

    display: flex;
    
}


nav a{

   font-size: var(--font-height-nav); 
   height: 60px;
  
   min-width: 120px;
   font-weight: 600;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   text-decoration: none;
   color: var( --color-header-text);
   
}

nav a:hover{

    color: var(--blue-violet);
}


.menu-mobile{

    margin-right: 40px;
    font-size: 30px;
    display: none;
    cursor: pointer;
    color: var(--color-text);
}

#close{
    display: none;
}

.versao{

    display: none;
}

.scrollinng-active{

    background-color: var(--background);
    transition: 0.5s ease;
}


/***Section***/


/***Footer***/

section{

    
    height: 100vh;
    width: 100%; 
    align-items: center;
    display: flex;
    justify-content: center;  
}



.status p{

    position: absolute;
    color: var(--blue-violet);
    text-transform: uppercase;
    font-size: 10px;
    margin-top: 7px;
    margin-left: 30px;
}

#body.active .light {
    
    display: none;
   
    
}
#body.active .night{

    display: flex;
}
.night {

    display: none;
}
.light {

    display: flex;
    
}
 






.tema {

    color: white;
    font-size: 25px;
    position: fixed;
    justify-content: center;
    flex-direction: column;
    height: 600px;
    width: 4%;
    display: flex;
    align-items: center;
    left: 0;
    
    cursor: pointer;  
    background-color: var(--blue-violet);
    z-index: 4;
}

.side-bar{

    font-size: 25px;
    position: fixed;
    justify-content: end;
    height: 100vh;
    left: 0 !important;
    display: flex;
    align-items: center;
    cursor: pointer;  
    z-index: 6;
    
}

#arrow{
    
    display: none;
    width: 40px;
}

.tema a {

    color: white;
    margin-top: 40px;
}


.container{

    height: 410px;
    width: 100%; 
    display: flex ;
    flex-direction: column;
    align-items: center;    
}

.title{

    height: 20%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.content{

    height: 70%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.collum{

    flex-direction: column;
}

.content i{

    cursor: pointer;
    font-size: 70px;
    margin: 5px; 
    
}

.front{

    margin-bottom: 60px;
}


.content i:hover,
.content i:focus{
    transition: all 0.8s;
    color: var(--blue-violet);
    text-shadow: 0px 1px 40px  rgba(255, 85, 0,.3);
}


.content a{

    height: 120.531px;
    width: 120.531px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.content a img{

    height: 100%;
    
}

.content a img:hover{

    height: 110%;
    
}




.title::after{

    content: '';
    position: absolute;
    height: 3px;
    width: 50%;
    border-radius: 5px;
    background-color: var(--blue-violet);
    margin-top: 80px;
}



footer{

    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    z-index: 10;
    position: absolute;
    background-color: var(--background);
}

.box-footer{

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-top: 1px solid  var(--color-border-subtle);
}






/*__________NAV-BAR________*/
/*_______HOVER____*/



/*Mobile*/
@media (max-width:950px) {
    


    /*Nav-bar*/
    nav {

        border: transparent;
    }

    .menu-mobile{

        display: flex;
        z-index: 999;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 50px;
        text-align: center;
        border-radius: 50%;
       
    }

  
    .tema{
        
    
        width: 20%;
        left: -20%;
         
     }

     .side-bar{

        display: flex;
     }

     .title::after{

        width: 80%;
     }
     .content i{

        font-size: 40px;
      
        
     }

    .nav-links{

        display: none;   
       
    }

    .nav-links a{

        border-bottom: 1px solid transparent;    
        height: 70px;
        margin-left: 20px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
       
        
    }

    .nav-links a:hover{
    
        color: var(--blue-violet);
        border-color: var(--color-border-subtle);
        animation: x 1s linear alternate;
    }

    @keyframes x{

        0%{
            transform: translateX(5px);
        }
    }

    .nav-links a:focus{

        border-color: rgba(138, 44, 206, 15%);
    }


    #nav.active .versao{

        height:100px;
        font-size: 12px;
        display: inline-flex;
        justify-content: center;
        align-items: flex-end;       
        color: var(--color-text);
      
    }

    #nav.active .nav-links{

        width: 100%;
        height: 600px;
        top: 0;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--color-header);
        animation: top 0.5s linear;
    
    }

    #nav.active .nav-links::before{

        content: '';  
        width: 100%;
        height: 150%;
        z-index: -1; 
        position: fixed;
        backdrop-filter: blur(100px);
            
    }

  
    #nav.active .menu-mobile:hover{

        transition: all 0.5s ease-in-out;
        background-color: var(--blue-violet);
    }

    #nav.active #close{

       display: flex;
    }
    #nav.active #open {

        display: none;
     }

    #nav.active .epc{
        
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        display: flex;
        background-color: var(--color-border-subtle);
        z-index: 999;
        margin-top: 78px;   
    }


   
    .side-bar.active {

        margin-left: 100px;
        transition: all 1s ease-out;
        
    }
    #arrow{

        display: flex;
        width: 4%;

    }
    .side-bar.active #arrow{

        
        transform: rotate(-180deg);
        transition: all 1.1s ease-in;
        
    }

 

    .side-bar.active .tema{

         left: 0;
        transition: all 1s ease-out;
    }
   
}




